@model IEnumerable<BarberSaloon.Models.Employee>

@{
    ViewBag.Title = "PersonelIslemleri";
    Layout = "_AdminLayout";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1>Personel Listesi</h1>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">İsim</th>
                    <th scope="col">Soyad</th>
                    <th scope="col">Cinsiyet</th>
                    <th scope="col">Beceriler</th> <!-- New column for Skills -->
                    <th>
                        <a asp-action="PersonelEkle_Duzenle" class="btn btn-sm btn-success">
                            Yeni
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>@employee.EmployeeID</td>
                        <td>@employee.Name</td>
                        <td>@employee.Surname</td>
                        <td>@employee.Gender</td>
                        <td>@employee.Skills</td> <!-- New column for Skills -->
                        <td>
                            <form asp-action="PersonelSil" asp-route-id="@employee.EmployeeID" method="post">
                                <div class="btn-group btn-group-sm">
                                    <a asp-action="PersonelEkle_Duzenle" asp-route-id="@employee.EmployeeID" class="btn btn-warning">
                                        Düzenle
                                    </a>
                                    <button type="submit" class="btn btn-danger" onclick="return confirm('Bu kaydı silmek istediğinizden emin misiniz?')">
                                        Sil
                                    </button>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>